* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    background-image: url(Assessts/pngtree-dark-fabric-with-abstract-patterns-a-unique-background-for-design-projects-image_13717521.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sub-container {
    text-align: center;
    margin: 15px 10px;
}

.heading {
    color: white;
    text-align: center;
    margin: 15px 15px;
    font-size: 4rem;
}

.input {
    border: 2px solid black;
    border-radius: 13px;
    padding: 10px;
    width: 40%;
    height: 50px;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.cont-two {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.row {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

button.btn {
    width: 80px;
    height: 80px;
    font-size: 35px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: #f4f4f4;
    color: black;
    background-color: rgba(227, 228, 208, 0.5); 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

button.btn.width {
    border-radius: 51px;
    width: 170px;
}


button.btn:hover {
    background-color: #91a4be; 
}
button.n:hover {
    background-color: #e37e6d; 
}
button.equal:hover {
    background-color: #71bd7a; 
}
